main {

    #karusel {
        height: 70vh;
     width: 100%;
     margin-bottom: 50px;
     position: relative;



     .testimanol{overflow: hidden;

        .swiper-pagination{
            .swiper-pagination-bullet{
           background-color: #6d6a6a;
            }
          
            display: none;
        
            @media screen and (max-width:768px){
                display: block;
                
            }
            
        }
        .swiper-button-next,.swiper-button-prev{

            color: #6d6a6a;
            @media screen and (max-width:768px){
                display: none;
                
            }
        }

        .testi_content{

            .slide{position: relative;
            overflow: hidden;
            .myfirst {
                width: 100%;
                height: 70vh;
                object-fit: cover;
                // object-position: left;
                animation: myfirst 5s infinite;
                animation-delay: 0s;
            }
            @keyframes myfirst {
                0% {
                    transform: scale(1.1);
                }
           
                100% {
                    transform: scale(1.2);
                }
            }
            .mysecond {
                width: 100%;
               
                height: 70vh;
                // object-fit: cover;
                // object-position: left;
                animation: mysecond 5s infinite;
                animation-delay: 0s;
                
            }
            @keyframes mysecond {
                0% {
                    transform: scale(1.1);
                }
           
                100% {
                    transform: scale(1.2);
                }
            }
            .mythird {
                width: 100%;
                // height: 100%;
                height: 70vh;
                // object-fit: cover;
                // object-position: left;
                animation: mythird 5s infinite;
                animation-delay: 0s;
            }
            @keyframes mythird {
                0% {
                    transform: scale(1.1);
                }
           
                100% {
                    transform: scale(1.2);
                }
            }

                .details{
                    @media screen and (max-width:768px) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                  
                    }

                    .bottom{
                        width: 197px;
                        height: 56px;
                    }
                    position: absolute;
                    top:10%;
                    left: 10%;
                    .top{
                   z-index: 5;
                   font-family: "Playfair Display";
                   color:#1b1b1b;
                   width: 347px;
                   height: 103px;
                   line-height: 51px;
                   letter-spacing: 0;
                   font-weight: 400;
                   font-size: 41px;
                   span{
                    z-index: 5;
                    font-family: "Playfair Display";
                    color: red;
                    width: 347px;
                    height: 103px;
                    line-height: 51px;
                    letter-spacing: 0;
                    font-weight: 400;
                    font-size: 41px;
                   }
                    }
                    .center {
                                        margin-bottom: 20px;
                                        z-index: 5;
                                        font-family: 'Lora';
                                        color: rgb(109, 106, 106);
                                        width: 429px;
                                        height: 89px;
                                        line-height: 29px;
                                        letter-spacing: 0;
                                        font-weight: 400;
                                        font-size: 18px;

                                        @media screen and (max-width:768px) {
                                           margin-left: 80px;
                                      
                                        }
                      
                                    }

                }
            }
        }
     }
    
        // .testimanol  {width: 100%;
        //     height: 100%;
        //    background-color: #f34f3f;
        
        
        //     .swiper-pagination{
        //         .swiper-pagination-bullet{
        //        background-color: #6d6a6a;
        //         }
              
        //         display: none;
            
        //         @media screen and (max-width:768px){
        //             display: block;
                    
        //         }
                
        //     }
        //     .swiper-button-next,.swiper-button-prev{
    
        //         color: #6d6a6a;
        //         @media screen and (max-width:768px){
        //             display: none;
                    
        //         }
        //     }
    
           
          
          
        //     .testi_content {
        //         background-color: green;
        //     height: 100vh;
        //     width: 100%;
        //         .slide1 {

        //             img {
        //                 height: 100%;
        //                 width: 100%;
        //                 animation: img  5s infinite;
        //                 object-fit: cover;
        //                 object-position: center;
        //             }
        //             @keyframes img {
        //                 0% {
        //                     transform: scale(1.2);
        //                 }
        //                 100% {
        //                     transform: scale(1.1);
        //                 }
        //             }
                  
        //             background-image:url("https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-slider-background.jpg");
        //             background-repeat: no-repeat;
        //             background-position: center;
        //             display: flex;
        //             flex-direction: column;
        //             justify-content: center;
        //             align-items: center;
                   
        //         }
        //         .slide2 {
        //             .myfirst {
        //                 animation: myfirst 5s infinite;
        //             }
        //             @keyframes myfirst {
        //                 0% {
        //                     transform: scale(1.2);
        //                 }
        //                 100% {
        //                     transform: scale(1.1);
        //                 }
        //             }
        //             height: 100vh;
        //             width: 100%;
        //             background-image:url("https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-slider-background-2.jpg");
        //             background-repeat: no-repeat;
        //             background-position: center;
        //             display: flex;
        //             flex-direction: column;
        //             justify-content: center;
        //             align-items: center;
                   
        //         }
        //         .slide3 {
        //             .myfirst {
        //                 animation: myfirst 5s infinite;
        //             }
        //             @keyframes myfirst {
        //                 0% {
        //                     transform: scale(1.2);
        //                 }
        //                 100% {
        //                     transform: scale(1.1);
        //                 }
        //             }
        //             height: 100%;
        //             width: 100%;
        //             background-image:url("https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-slider-background-3.jpg");
        //             background-repeat: no-repeat;
        //             background-position: center;
        //             display: flex;
        //             flex-direction: column;
        //             justify-content: center;
        //             align-items: center;
                   
        //         }
        //     }
        // }
    }

    #filter {
        .filtr {
            flex-direction: row;
            display: flex;
            justify-content: space-around;


            @media screen and(max-width:990px) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;


            }


            .categories {
                position: relative;
                margin: 0;
                padding-top: 10px;
                display: none;
                background-color: white;

                @media screen and(max-width:990px) {
                    display: flex;


                }
                h6 {
                    font-size: 14px;
                    font-family: 'Montserrat', sans-serif;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #6d6a6a;
                    // padding: 8px 15px;
                    font-weight: 500;
                    cursor: pointer;
                    background-color: white;
                }
                .kater {
                    display: none;
                    position: absolute;
                    top:75%;
                    left: 0%;
         background-color: white;
         border: none;
         border-radius: 0;
                 z-index: 10;
                 overflow: hidden;
                    li {
                        list-style: none;
                        .dropdown-item{
                            .list {
                                border: none;
                                font-size: 14px;
                                font-family: 'Montserrat', sans-serif;
                                text-transform: uppercase;
                                text-decoration: none;
                                color: #6d6a6a;
                                padding: 8px 15px;
                                font-weight: 500;
                                cursor: pointer;
                                background-color: white;
                                &:hover {
                                    color: red;
                                }
    
    
                            }
                            .active {
    
                                background-color: white;
    
                                font-size: 14px;
                                font-family: 'Montserrat', sans-serif;
                                text-transform: uppercase;
                                text-decoration: none;
                                color: red;
                                padding: 8px 15px;
                                font-weight: 500;
                                cursor: pointer;
    
                            }
    
                        }
                    
                    }
                }

            }

            .button-group {
                @media screen and(max-width:990px) {
                    display: none;

                }
                display: flex;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                .list {
                    border: none;
                    font-size: 14px;
                    font-family: 'Montserrat', sans-serif;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #6d6a6a;
                    padding: 8px 15px;
                    font-weight: 500;
                    cursor: pointer;
                    background-color: white;
                    &:hover {
                        color: $orange-color;
                    }


                }
                .active {

                    background-color: $white-color;
                    font-size: 14px;
                    font-family: 'Montserrat', sans-serif;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $orange-color;
                    padding: 8px 15px;
                    font-weight: 500;
                    cursor: pointer;

                }
            }
            .filter {
                position: relative;
                float: right;
                background-color:$white-color;
                border: 1px solid transparent;
                font-size: 14px;
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                text-decoration: none;
                color: #6d6a6a;
                // padding: 8px  15px;
                font-weight: 500;
                cursor: pointer;
                &:hover .sort {
                    display: flex;
                    opacity: 1;
                }
                .sort {
                    z-index: 55;
                    position: absolute;
                    right: 0;
                    background-color: white;
                    width: 400px;
                    height: 200px;
                    display: none;
                    opacity: 0;
                    ul {
                        h5 {
                            margin: 20px 0;
                            color: $black-second-txtcolor;
                            font-family: "Playfair Display", serif;
                            font-weight: 400;
                            font-size: 22px;
                            line-height: 1.363em;
                            text-transform: capitalize;
                        }
                        li {
                            list-style: none;
                            font-size: 14px;
                            text-transform: capitalize;
                            font-weight: 500;
                            color: $gray-txtcolor;

                        }
                    }

                }

            }

        }
        #product-list {

            display: flex;
            flex-wrap: wrap;

            .itembox {
                display: flex;
                height: auto;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h6 {
                    text-transform: uppercase;
                    font-size: 14px;
                    padding: 5px 0;
                    font-weight: 400;
                    color: #6d6a6a;
                    font-family: 'Montserrat', sans-serif;
                    display: inline;


                }


                &:hover img {
                    transform: scale(1.05);


                }
                .box_img {

                    margin: 5px;
                    overflow: hidden;
                    transition: transform 0.3s ease;
                    img {
                        width: 300px;
                        height: 300px;
                        object-fit: cover;
                        object-position: center;
                        transition: transform 0.3s ease;
                        overflow: hidden;
                    }

                }
                .box_content {
                    // display: flex;
                    // justify-content: center;
                    // flex-direction: column;
                    // align-items: center;


                    .sm {
                        display: flex;
                        background-color: white;
                        overflow: hidden;
                        &:hover .add {
                            transform: translateX(-75px);
                        }
                        &:hover span {
                            transform: translateX(-35px);
                        }
                        .add {
                            transform: translateX(20px);
                            text-decoration: none;
                            font-size: 13px;
                            color: #abb8c3;
                            text-transform: capitalize;
                            opacity: 1;
                            transition: transform 0.3s ease;

                        }
                        span {
                            transform: translateX(40px);
                            font-size: 13px;
                            color: #abb8c3;
                            text-transform: capitalize;
                            opacity: 1;
                            transition: transform 0.3s ease;
                        }
                    }
                }
            }
        }


    }

    #frame {
        background-color: #f7f7f7;

      

        .banner {z-index: 555;
            position: relative;
            overflow: hidden;
            transition: transform 0.3s ease;
            &:hover img {
                transform: scale(1.05);


            }
            .banner_img {
                width: 650px;
                height: 420px;
                height: auto;
                img {
                    width: 100%;
                    height: 100%;
                    object-position: center;
                    object-fit: cover;
                    transition: transform 0.3s ease;
                }
                .video_btn {
                    position: absolute;
                    top: 40%;
                    left: 40%;
                    width: 100px;
                    height: 100px;
                    background-color: white;
                    border-radius: 50%;
                    i {
                        position: absolute;
                        top: 30%;
                        left: 35%;
                        font-size: 30px;
                        color: red;

                    }

                }

            }
        }
      
        .banner_text {
            margin-left: 50px;

            @media screen and(max-width:990px) {
                margin: 30px;


            }

            .top {
                @media screen and(max-width:990px) {
                    font-size: 3rem;
                    width: 100%;
                    margin-bottom: 130px;


                }
                span {

                    @media screen and(max-width:990px) {
                        font-size: 3rem;


                    }
                    margin: 0 0 19px;
                    font-size: 38px;
                    line-height: 1.447em;
                    z-index: 5;
                    font-family: "Playfair Display";
                    color: red;
                    font-weight: 400;
                    width: 400px;
                    height: 50px;
                    line-height: 51px;
                    letter-spacing: 0;
                }
                margin: 0 0 59px;
                font-size: 38px;
                line-height: 1.447em;
                z-index: 5;
                font-family: "Playfair Display";
                color: #2b2b2b;
                font-weight: 400;
                width: 400px;
                height: 50px;
                line-height: 51px;
                letter-spacing: 0;
           

            }
            .center {
                font-size: 19px;
                line-height: 29px;
                margin: 24px 24px 24px 0;
                font-family: Lora, serif;
                color: #6d6a6a;
                line-height: 29px;
                letter-spacing: 0;
                font-weight: 400;

                @media screen and(max-width:990px) {
                    font-size: 1.5rem;

                    margin-top: 50px;

                }

            }
            .hearts {


                margin: 0;
                padding: 0;
                li {

                    @media screen and(max-width:990px) {
                        font-size: 1.5rem;
                        padding: 10px 0;


                    }
                    list-style: none;
                    padding: 5px;
                    font-size: 19px;
                    line-height: 29px;

                    font-family: Lora, serif;
                    color: #6d6a6a;
                    line-height: 29px;
                    letter-spacing: 0;
                    font-weight: 400;
                }
            }
        }
    }

    #experts {
        .title_top {
            h2 {

                @media screen and(max-width:990px) {
                    font-size: 3rem;
                    padding: 10px 0;


                }
                margin: 0 auto;
                font-size: 38px;
                line-height: 1.447em;
                z-index: 5;
                font-family: "Playfair Display";
                color: #2b2b2b;
                font-weight: 400;
                width: 400px;
                height: 50px;
                line-height: 51px;
                letter-spacing: 0;
                text-align: center;

            }
            p {

                @media screen and(max-width:990px) {
                    font-size: 1.7rem;
                    padding: 10px 0;


                }
                font-size: 19px;
                line-height: 29px;
                margin: 20px 70px;
                padding: 0 50px;
                font-family: Lora, serif;
                color: #6d6a6a;
                line-height: 29px;
                letter-spacing: 0;
                font-weight: 400;
            }

        }

        .team_holder {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .team_info {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                h5 {
                    color: #4b4747;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                    margin-top: 15px;


                }
                span {
                    text-align: center;
                    font-style: italic;
                    color: #abb8c3;
                    font-size: 12px;

                }
            }
        }


    }

    #join {
        z-index: 0;
        background-image: url('https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-background-img.jpg');
        background-position: 50% -29px;
        background-attachment: fixed;
        position: static;
        padding: 0;
        background-repeat: no-repeat;
        overflow: hidden;
        min-height: 70vh;

        .wrapper {
            z-index: 99;
            background: scroll;
            display: flex;
            margin-top: 25vh;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            h3 {
                color: white;
                display: block;
                // margin: 0 0 19px;
                font-size: 35px;
                line-height: 1.4em;
                font-family: "Playfair Display", serif;
                font-weight: 400;


            }
            #poct {


                form {
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;

                    input {

                        width: 450px;
                        padding: 20px 30px;
                        outline: none;
                        border: 1px solid transparent;

                    }
                    .btn {
                        padding: 20px 30px;
                        background-color: #f34f3f;
                        border: 1px solid #f34f3f;
                        color: white;
                        border-radius: 0;
                        font-size: 12px;
                        line-height: 1.4em;
                        font-weight: 400;
                        text-transform: uppercase;
                        outline: 0;
                        font-family: 'Montserrat', sans-serif;
                        letter-spacing: 0.1em;
                    }
                    #netice {
                        color: white;
                        background-color: red;
                        display: none;
                        text-align: center;
                        margin: 20px auto;
                        position: absolute;
                        top: 100%;
                        left: 30%;
                    }
                    #result {
                        color: #ebebeb;
                        border: 1px solid green;
                        display: none;
                        text-align: center;
                        margin: 20px auto;
                        position: absolute;
                        top: 100%;
                        left: 10%;
                        background-color: green;
                    }
                }
            }
        }


    }
    #blog {
        background-color: #f7f7f7;
        .title_top {
            h2 {

                @media screen and(max-width:990px) {
                    font-size: 3rem;
                    padding: 10px 0;


                }
                margin: 0 auto;
                font-size: 38px;
                line-height: 1.447em;
                z-index: 5;
                font-family: "Playfair Display";
                color: #2b2b2b;
                font-weight: 400;
                width: 400px;
                height: 50px;
                line-height: 51px;
                letter-spacing: 0;
                text-align: center;

            }
            p {
                @media screen and(max-width:990px) {
                    font-size: 1.5rem;
                    padding: 10px 0;
                    margin-bottom: 30px;

                }
                font-size: 19px;
                line-height: 29px;
                margin: 20px 70px;
                padding: 0 50px;
                font-family: Lora, serif;
                color: #6d6a6a;
                line-height: 29px;
                letter-spacing: 0;
                font-weight: 400;
            }
            .team_holder {
                display: flex;
                justify-content: center;
                align-items: center;
                .team_info {
                    h6 {
                        font-family: 'Montserrat', serif;
                        text-align: center;
                        font-size: 10px;
                        line-height: 2em;
                        font-weight: 500;
                        letter-spacing: 0.1em;
                        color: #1b1b1b;
                        margin: 0;

                    }
                }
            }
        }

        .blog_card {

            height: auto;
            position: relative;
            margin: 20px;
            &:hover img {
                transform: scale(1.05);

            }

            .blog_img {

                overflow: hidden;
                transition: 0.3s ease;


                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                    transition: 0.3s ease;
                    overflow: hidden;

                }

            }
            .data {
                position: absolute;
                top: 10px;
                left: 30px;
                width: 99px;
                height: 30px;
                background-color: white;
                font-size: 12px;
                padding: 7px 5px;
                text-align: center;
                font-family: Montserrat, sans-serif;
                &:hover {
                    color: #f34f3f;
                    transition: 0.3s ease;
                }
            }
            .blog_text {

                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h5 {
                    font-size: 22px;
                    line-height: 1.363em;
                    margin: 20px 0 3px;
                    font-family: "Playfair Display";
                    color: #2b2b2b;
                    font-weight: 400;
                }
                p {
                    font-size: 16px;
                    padding: 0 50px;
                    font-family: Lora, serif;
                    color: #6d6a6a;
                    line-height: 29px;
                    font-weight: 400;
                }
            }
        }
    }
    #test {
        height: 60vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .mySwiper {
            .swiper-pagination{
                .swiper-pagination-bullet{
               background-color: #6d6a6a;
                }
              
                display: none;
            
                @media screen and (max-width:768px){
                    display: block;
                    
                }
                
            }
            .swiper-button-next,.swiper-button-prev{
    
                color: #6d6a6a;
                @media screen and (max-width:768px){
                    display: none;
                    
                }
            }
    
    
    
            padding: 70px 0;
            max-width: 900px;
            position: relative;
            width: 100%;
            overflow: hidden;
            .swiper-wrapper {
                .swiper-slide {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    p {
                        color: #4b4747;
                        font-family: Lora, serif;
                        font-style: italic;
                        font-size: 24px;
                        line-height: 1.5em;
                        padding: 0 160px;
                        text-align: center;
                    }
                    .name{
                        color: #1b1b1b;
                        font-family: Montserrat;
                        font-size: 12px;
                        line-height: 2em;
                        font-weight: 500;
                        letter-spacing: .1em;
                        text-transform: uppercase;
                    }
                    .job{
                        color: #6d6a6a;
                        font-family: Montserrat;
                        font-size: 12px;
                        line-height: 2em;
                        font-weight: 500;
                        letter-spacing: .1em;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

}

html {
    scroll-behavior: smooth;
}
.to_top {
    background-color: #f34f3f;
    position: fixed;
    bottom: 16px;
    right: 52px;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #f7f7f7;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
    &:hover {
        color: #f7f7f7;
    }
}
.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;


}




#exampleModal {
    .modal-dialog{
        min-width: 560px !important;
        position: relative;
        .modal-content{
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            border: none;
            // overflow: hidden;

            .btn-close{
       background-color: #abb8c3;
       margin-left: 15px;
            }
            .modal-body{
                display: flex;
                justify-content: center;
                align-items: end;
                margin: 0;
                padding: 0;
            }
        }
    }
}