.navbar { position: relative;


    
       
    .logo {
        margin-right: 20vh;
        position: relative;
        float: left;
        z-index: 2;
        height: 100%;
        width: 100%;
        a {
            img {
                height: 25px;
                width: 205px;
            }

        }
    }
    .list {
        height: 100%;
        width: 100%;
 
        margin-left: 10vh;


        .menu {
           
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
   


            li{position: relative;
                padding: 10px 20px;
                list-style: none;
                font-size: 14px;
          
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 400;
                color: #6d6a6a;
                font-family: 'Montserrat', sans-serif;
                cursor: pointer;                
                    
                &:hover .wide_bottom {
                
                    display: block;
                                     
                    opacity: 1;
                    transition: .3s ease-in-out;
                                        

                }
            &:hover .dropdown{
                display: block;
                opacity: 1;
                transition: .3s ease-in-out;
            }




                .dropdown {display: none;
                   background-color: white;
                   opacity: 0;
                   transition: .3s ease-in-out;
                    position: absolute;
                    top: 100%;
                    left: -26%;
                    margin: 0;
                    padding: 0;
                    z-index: 999;
        ul{  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 3%);
            li {
              

                .dropdown-item {
                    padding: 0 10px 0 0;
                    font-size: 13px;
                    text-decoration: none;
                    text-transform: capitalize;
                    font-weight: 400;
                    color: #6d6a6a;
                    font-family: 'Montserrat', sans-serif;
                    text-align: left;

                }
            }
        }

                }
            }

            .dropdown_cart{

                position: relative;
                padding: 10px 20px;
                list-style: none;
                font-size: 14px;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 400;
                color: #6d6a6a;
                font-family: 'Montserrat', sans-serif;
                cursor: pointer; 
                &:hover :nth-child(1){
                    display: block;
                }
                ul{
                    li {display: none;
                        position: absolute;
    top: 80%;
    left: 0;
    padding: 2px 15px;
    
                       background-color: white;
                       box-shadow: 0 5px 5px 0 rgb(0 0 0 / 5%);
                            font-size: 12px;
                            text-decoration: none;
                            text-transform: capitalize;
                            font-weight: 400;
                            color: #6d6a6a;
                            font-family: 'Montserrat', sans-serif;
                            text-align: left;
    
                        
                    }
                }
             

}

        }


    }

    
.wide_bottom {background-color: white;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 5%);
    opacity: 0;
   display: none;
    width: 1210px;
transition: .3s ease-in-out;
    position: absolute;
    top:100%;
    right: -660%;
    z-index: 997;
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            .items {
                font-size: 14px;
                text-decoration: none;
                text-transform: capitalize;
                font-weight: 400;
                color: #6d6a6a;
                font-family: 'Montserrat', sans-serif;
                text-align: center;

            }
        }
    }
}
}
