@import '../scss/partial/mixin';
@import '../scss/partial/variables';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import '../scss/pages/home/home';
@import '../scss/pages/contact/contact';
@import '../scss/layout/footer';
@import '../scss/layout/navbar';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


